#gomb {
	width: 70%;
	height: auto;
	border: 1px solid black;
	font-size: 2em;
	text-align: center;
	padding: 2%;
	margin: 0px auto;
	border-radius: 10px;
	display: block;
}

#textbox {
	width: 95%;
	font-size: 20px;
	padding: 0.3em 0.2em;
	border-radius: 10px;
	margin: 1.5em auto;
	text-align: center;
}